@"
# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*

crash.log
*.tfplan
.debug-dev.sh
.debug-prod.sh

*.tfvars.json
*.exe
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

.terraformrc
terraform.rc
"@ | Out-File -FilePath ".gitignore" -Encoding UTF8
